<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="hinweise" type="System.Configuration.NameValueSectionHandler"/>
		<section name="grundbuchverwalter" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="DataFilePath" value="D:\Schule\TEROffice\Datafiles" />
		<add key="GravisDataFilePath" value="D:\Schule\TEROffice\Datafiles"/>
		<add key="GravisSavePath" value="D:\Schule\TEROffice\Datafiles" />
		<add key="WordOutputPath" value="D:\Schule\TEROffice\Temp\" />

		<add key="GravisAuszugFilePath" value="D:\Schule\TEROffice\AuszugOutput"/>
		<add key="GravisAuszugPath" value="D:\Schule\TEROffice\AuszugOutput" />
		<add key="AuszugSavePath" value="D:\Schule\TEROffice\AuszugOutput" />

		<add key="DataFileExtension" value="xml"/>
		<add key="RecipientFileExtension" value="uni"/>

		<add key="WordTemplatePath" value="D:\Schule\TEROffice\Vorlagen" />
		<add key="WordTemplateExtension" value="docx"/>

		<add key="WordSavePath" value="D:\Schule\TEROffice\[STAO]\Tagebuch\[TBD]\[TBNR]" />

		<add key="DeleteTempFolder" value="false"/>
		<add key="EtikettenSavePath" value="D:\Schule\TEROffice\Tagebuchetiketten" />

		<add key="TitelSavePath" value="D:\Schule\TEROffice\TitelOutput\[STAO]\Tagebuch\[TBD]\[TBNR]" />
		<add key="ErrorLogPath" value="D:\Schule\TEROffice\Log\ErrorLog.txt" />
		<add key="LogPath" value="D:\Schule\TEROffice\Log\Log.txt" />
		<add key="DataXML_Namespace" value="http://www.nundw.ch/terrisxml01"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>

		<add key="xmlCulture" value="de-ch"/>
		<add key="xmlCultureNumberDecimalSeparator" value="."/>
		<add key="xmlCultureNumberGroupSeparator" value="'"/>
		<add key="xmlCultureCurrencyZeroDecimalReplacements" value="--"/>
		<add key="encoding" value="UTF8"/>

		<add key="wordCulture" value="de-ch"/>
		<add key="wordCultureNumberDecimalSeparator" value="."/>
		<add key="wordCultureNumberGroupSeparator" value="'"/>
		<add key="wordCultureCurrencyDecimalSeparator" value="."/>
		<add key="wordCultureCurrencyGroupSeparator" value="'"/>
		<add key="wordCultureCurrencySymbol" value="CHF"/>
		<add key="wordCultureCurrencyZeroDecimalReplacements" value="--"/>
	</appSettings>
</configuration>